.container {
  background: var(--white);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px -8px rgba(0, 0, 0, 0.5);
}

.container ul {
  list-style: none;
  height: 45rem;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0.5rem;
}

.container ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid var(--divisor);
  padding: 1rem;
}

.container ul li div {
  display: flex;
}

.container h2 {
  font-size: 1rem;
}

.container p {
  color: var(--purple-dark);
}

.tableHeader {
  color: #444;
}

.tableHeader a {
  cursor: pointer;
  user-select: none;
}
