.container button {
  display: flex;
  align-items: center;

  outline: none;
  border: 1px solid var(--divisor);
  border-radius: 30px;
  background: var(--white);

  margin: 2rem 2rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;

  cursor: pointer;

  transition: background 0.3s;
}

.container button:hover {
  background: rgba(0, 0, 0, 0.03);
}

.listCountries ul {
  list-style: none;
  background: var(--white);

  width: 30%;
  margin-top: 0.5rem;

  max-height: 30rem;
  overflow: hidden;
  overflow-y: auto;

  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.09);
}

.listCountries li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
}

.listCountries li:hover {
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.09);

  cursor: pointer;
}
